.home-page-text-part {
    width: 40%;
}

.frond-end-dev {
    color: #FFFFFF;
    opacity: 0.5;
}

.name-of-dev {
    font-size: 70px !important;
    font-weight: 600 !important;
}

.button-nav {
    margin-top: 10px !important;
    background-color: #333333;
    border-radius: 30px !important;
    border-width: 2px !important;
    padding: 10px 40px !important;
    border-color: #007CED !important;
    text-transform: unset !important;
    box-shadow: 2px 5px 8px 0px #0B325E;
}