@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #2c2c31;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a:focus, a:hover, a:link, a:visited {
  text-decoration: none;
  outline: none;
}

select:focus-visible {
  outline: none;
}

.content {
	min-height: calc(100vh - (119px + 53px));
}

/* To remove the arrows of <input type="number"/> */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* To remove the resize handle of <textarea/> */
textarea {
  resize: none;
}